@use 'variables'as *;
@use 'mixin' as *;

.footer{
    width: 100%;
    background-color: $base-04;
    padding: 88px;
    color: $text-02;
    text-align: center;
    p{
        font-family: $oswald;
        img{
            width: 132px;
        }
    }
    &-sns{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: fit-content;
        margin: 30px auto;
        li{
            width: 50px;
            img{
                height: 20px;
            }
        }
    }
}
