// Color
$main-01:#FFE601;
$main-02:#323232;
$base-01:#FFFFFF;
$base-02:rgba(255, 230, 0, 0.1);
$base-03:#F5F5F5;
$base-04:#34321e;
$text-01:#323232;
$text-02:#FFFFFF;
$overlay-01:rgba(71, 65, 16, 0.5);

// Fonts
$oswald:'Oswald', sans-serif;
$notosans:'Noto Sans JP', sans-serif;
$yusei:'Yusei Magic', sans-serif;
